
.totale {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;
}
.immagine img{
    display: flex;
    width:300px;
    height:300px;
    align-items: center;
    border-radius: 20px;
    
}
.chi_sono_descrizione{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    color:white
}
.descrizione{
    display: flex;
    justify-content: center;
    text-align: justify;
    /* width: 100%; */
}
    

.titolo{
    display: flex;
    justify-content: center;
    width:100%;
    color: white;
}
.timeline{
    display: flex;
    justify-content: center;
    width:100%;
    color:white;
    flex-direction: column;
    align-items: center;
}
.immagine{
    display:flex;
}

.tabella {
    display: flex;
    justify-content: space-around;
    color: white;
    position: relative; /* Necessario per il posizionamento della pseudo-classe */
    padding: 10px 0; /* Aggiunge un po' di spazio intorno alla linea */
}

.tabella::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px; /* Spessore della linea */
    background-color: #A9A9A9; /* Colore della linea */
    transform: translateX(-50%);
}

.tabella ol{
    border-radius: 13px;
    background-color: #696969;
    width:400px;
}
.tabella a{
    text-decoration: none;
}
.timeline a{
    text-decoration: none;
    color:white;
    font-size: large;
}

@media screen and (min-width:0px) and (max-width:768px){
    .michele{
        display:flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .totale{
         display:flex;
        flex-wrap: nowrap;
        flex-direction: column;
        text-align:justify
        
    }
    .immagine{
        display:flex;
        justify-content:center;
        
    }
    .tabella::before{
        display:none
    }
    .giovanni{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: wrap;
    }
}
@media screen and (min-width:769px) and (max-width:1000px){
    .michele{
        display:flex;
        flex-wrap: nowrap;
        flex-direction: column;
    } 
    .titolo{
        width: 130%
    }
    .giovanni{
        display:flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        justify-content: space-between;
    }
    .tabella::before{
        display:none
    }
}
.totale{
    display: flex;
}
.immagine img{
    display: flex;
    width:300px;
    height:300px;
    align-items: center;
    border-radius: 20px;
    
}
.chi_sono_descrizione{
    display: flex;
    flex-direction: column;
    align-content: stretch;
    align-items: stretch;
    color:white
}
.descrizione{
    display: flex;
    justify-content: center;
    text-align: justify;
    /* width: 100%; */
}
    

.titolo{
    display: flex;
    justify-content: center;
    width:100%;
}
.timeline{
    display: flex;
    justify-content: center;
    width:100%;
    color:white;
    flex-direction: column;
    align-items: center;
}
.immagine{
    display:flex;
}

.tabella {
    display: flex;
    justify-content: space-around;
    color: white;
    position: relative; /* Necessario per il posizionamento della pseudo-classe */
    padding: 10px 0; /* Aggiunge un po' di spazio intorno alla linea */
}

.tabella::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 2px; /* Spessore della linea */
    background-color: #A9A9A9; /* Colore della linea */
    transform: translateX(-50%);
}

.tabella ol{
    border-radius: 13px;
    background-color: #696969;
    width:400px;
}
.tabella a{
    text-decoration: none;
}
.timeline a{
    text-decoration: none;
    color:white;
    font-size: large;
}

@media screen and (max-width:768px){
    .michele{
        display:flex;
        flex-wrap: nowrap;
        flex-direction: column;
    }
    .totale{
         display:flex;
        flex-wrap: nowrap;
        flex-direction: column;
        text-align:justify
        
    }
    .immagine{
        display:flex;
        justify-content:center;
        
    }
    .tabella::before{
        display:none
    }
    .giovanni{
        display:flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-content: center;
        flex-wrap: wrap;
    }
}
@media screen and (min-width:769px) and (max-width:1000px){
    .michele{
        display:flex;
        flex-wrap: nowrap;
        flex-direction: column;
    } 
    
    .immagine img {
        width:200px;
        height:200px
    }
    .descrizione p {
        width:10%
    }
    .titolo{
        width: 100%
    }
    .giovanni{
        display:flex;
        flex-direction: column;
        align-content: space-around;
        align-items: center;
        justify-content: space-between;
    }
    .tabella::before{
        display:none
    }
}
@media screen and (min-width:1001px) and (max-width:1150px){
    .tabella ol{
        width: 300px;
    }
}





   /*aaa/





 